<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="../../static/css/styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../static/images/favi.ico" type="image/x-icon" />

    <title>HomeStay - Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
        <ul>
          <a href="../../../../../homestay"><img src="../../static/images/logo.jpg" style="height: 50px; padding-left: 10px; padding-right:10px;"/></a>
          <li><a href="../../../../../homestay/login">Log In</a></li>
          <li><a href="../../../../../homestay/profile">Profile</a></li>
          <li><a href="../../../../../homestay">Home</a></li>
        </ul>
    </nav>
    <div id= "header">
      <div id="header-text">
        <h1>Create Account</h1>
        <h3>Become a Member today</h3>
    </div>
    </div>
    <main>
      <!---  MAIN BODY CONTENT --->
      <div id="main-content">
        <section>
	<form name"Register" action="" method="POST">
          <div id="user_account">
            <div class="row">
              <div class="col-50">
                <h3>Create Account</h3>
                <label for="fname">First Name</label></br>
                <input type="text" id="fname" name="firstname" placeholder="John "></br></br>
		<label for="lname">Last Name</label></br>
                <input type="text" id="lname" name="lastname" placeholder="M. Doe"></br></br>
                <label for="email">University Email</label></br>
                <input type="text" id="email" name="email" placeholder="70892631@example.edu"></br></br>
                <label for="password">Password</label></br>
                <input type="password" id="password" name="password" placeholder="Password"></br></br>
                <label for="Cpassword">Confirm Password</label></br>
		<input type="password" id="password" name="cPassword" placeholder="Password"></br></br>
		<label for="telNo">Telephone Number</label></br>
		<input type="telNumber" id="telephone" name="telNo" placeholder="Telephone Number"></br></br>
		<label for="diet">Dietary requirements</label></br>
                <input type="text" id="diet" name="diet" placeholder="Dietary Requirements"></br></br>
		<label for="dob">Date of Birth</label></br>
                <input type="date" id="date" name="date" placeholder="YYYY/MM/DD"></br></br>
		<label for="university">University</label></br>
                <input type="text" id="university" name="university" placeholder="University"></br></br>
		<label for="nationality">Nationality</label></br>
                <input type="text" id="nationality" name="nationality" placeholder="Nationality"></br></br>


              </div>
              </div>
              </br></br>
              <button type="submit" value="CreateAccount" class="btn">
	      register
	      </button>
          </div>
          </form>
        </section>
    </main>
    <footer>
      <!---  FOOTER CONTENT --->
      <div id="footer-content">
            <h6>HomeStay</h6><h5>©</h5>
      </div>
    </footer>
  </body>
</html>
