<html>

<h1> Errors </h1>

<h3>Click on Profile from home screen: </h3>
 Clicking on the 'Profile' button from the home screen causes a KeyError
 'Type' error.
<h3>Cards are gone from Home page: </h3>
 Could be temp.
<h3>Sizing is still messed up on page: </h3>
 Both the log in aside an 'HomeStay' banner background box dont size well.
<h3>Clicking 'Create one!' from log in page: </h3>
 Wrong page link: takes to '/create_account' instead of '/user_create_account'.
<h3> </h3>
<h3> </h3>
<h3> </h3>

</html>
