
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="../../../static/css/styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../static/images/favi.ico" type="image/x-icon" />

    <title>HomeStay</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../static/css/styles.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="../../../../static/images/favi.ico" type="image/x-icon" />
    <style>
    </style>
 </head>
  <body>
    <nav>
        <ul>
          <a href="../../../../../homestay"><img src="../../../static/images/logo.jpg" style="height: 50px; padding-left: 10px; padding-right:10px;"/></a>
          <li><a href="../../../../../homestay/login">Log In</a></li>
          <li><a href="../../../../../homestay/profile">Profile</a></li>
          <li><a href="../../../../../homestay">Home</a></li>
        </ul>
    </nav>
    <div id= "header">
      <div id="header-text">
      <h1>HomeStay</h1>
      <h3>You lost?</h3>
      </div>
    </div>
    <main>
      <!---  MAIN BODY CONTENT --->
      <div id="main-content">
        <h2>{{Message}}</h2>
      </div>
    </main>
    <footer>
      <!---  FOOTER CONTENT --->
      <div id="footer-content">
            <h6>HomeStay</h6>
      </div>
    </footer>
  </body>
</html>
