<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="../../../static/css/styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../../../static/images/favi.ico" type="image/x-icon" />

    <title>HomeStay - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  .checked {
    color: orange;
  }
  </style>
  </head>

  <body>
    <nav>
        <ul>
          <a href="../../../../../homestay"><img src="../../../../static/images/logo.jpg" style="height: 50px; padding-left: 10px; padding-right:10px;"/></a>
          <li><a href="../../../../../homestay/login">Log In</a></li>
          <li><a href="../../../../../homestay/profile">Profile</a></li>
          <li><a href="../../../../../homestay">Home</a></li>
        </ul>
    </nav>
    <div id= "header">
      <div id="header-text">
        <h1>Application</h1>
        <h3>{{Location}}</h3>
    </div>
    <main>
      <!---  MAIN BODY CONTENT --->
      <div id="main-content">
	<section>
	<div id="HostEmail">
	    <h2>Host Email</h2>
	    <h4>{{hEmail|string}}</h4>
	</div>
	<div id="UserEmail">
            <h2>Student Email </h2>
            <h4>{{aEmail|string}}</h4>
        </div>
        <div id= "applicationText">
	<h2>Message</h2>
	<p>{{Application|string}}</p>
        </div>
	{% if HostCheck == True %}
		<form name="Accept_appplication" action="" method="POST">
		  <button type ="submit" value="accept" class="btn">Accept</button>
		</form>
	{% endif %}
	 <a href={{ButtonLink}}  ><button  value="Student Profile" class="btn">Student Profile</button></a>
</div>
</main>
<footer>
  <!---  FOOTER CONTENT --->
  <div id="footer-content">
        <h6>HomeStay</h6>
  </div>
</footer>
  </body>
</html>
